## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps

# Import API key
from config import g_key
# Configure gmaps API key
gmaps.configure(api_key = g_key)

In [2]:
print(g_key)

AIzaSyAU7IqQCko5M7DAMNAIem43XyOPVboUn4M

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Birao,CF,10.2849,22.7882,76.12,57,46,3.29,scattered clouds
1,1,Beloha,MG,-25.1667,45.0500,61.21,68,0,5.61,clear sky
2,2,Mataura,NZ,-46.1927,168.8643,58.48,57,66,3.27,broken clouds
3,3,Bethel,US,41.3712,-73.4140,67.17,86,90,3.44,overcast clouds
4,4,Ustynivka,UA,47.9551,32.5367,41.45,36,0,12.17,clear sky

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 100

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Birao,CF,10.2849,22.7882,76.12,57,46,3.29,scattered clouds
1,1,Beloha,MG,-25.1667,45.0500,61.21,68,0,5.61,clear sky
2,2,Mataura,NZ,-46.1927,168.8643,58.48,57,66,3.27,broken clouds
3,3,Bethel,US,41.3712,-73.4140,67.17,86,90,3.44,overcast clouds
5,5,Dargaville,NZ,-35.9333,173.8833,58.95,96,100,5.44,overcast clouds
6,6,Komsomolskiy,UZ,40.4272,71.7189,50.27,77,35,1.90,scattered clouds
7,7,Cape Town,ZA,-33.9258,18.4232,65.08,55,0,1.99,clear sky
8,8,Natal,BR,-5.7950,-35.2094,80.82,78,20,13.80,few clouds
9,9,Saint-Philippe,RE,-21.3585,55.7679,69.35,83,35,3.65,light rain
10,10,Busselton,AU,-33.6500,115.3333,53.04,77,100,6.40,overcast clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                4
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Birao,CF,76.12,scattered clouds,10.2849,22.7882,
1,Beloha,MG,61.21,clear sky,-25.1667,45.0500,
2,Mataura,NZ,58.48,broken clouds,-46.1927,168.8643,
3,Bethel,US,67.17,overcast clouds,41.3712,-73.4140,
5,Dargaville,NZ,58.95,overcast clouds,-35.9333,173.8833,
6,Komsomolskiy,UZ,50.27,scattered clouds,40.4272,71.7189,
7,Cape Town,ZA,65.08,clear sky,-33.9258,18.4232,
8,Natal,BR,80.82,few clouds,-5.7950,-35.2094,
9,Saint-Philippe,RE,69.35,light rain,-21.3585,55.7679,
10,Busselton,AU,53.04,overcast clouds,-33.6500,115.3333,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
#     print(hotels)
    
#     print(hotels["results"][0]["name"])
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Mataura,NZ,58.48,broken clouds,-46.1927,168.8643,Ellie's Villa
3,Bethel,US,67.17,overcast clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
5,Dargaville,NZ,58.95,overcast clouds,-35.9333,173.8833,Parkview Motel
6,Komsomolskiy,UZ,50.27,scattered clouds,40.4272,71.7189,Ikathouse
7,Cape Town,ZA,65.08,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town

In [11]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and </dt><dd>{Max Temp} °F</dd>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
            max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
print (fig)

Figure(layout=FigureLayout(height='420px'))